@media screen and (min-width: 481px) {
    
}

@media screen and (min-width: 768px) {
    
}

@media screen and (min-width: 1025px) {
    header {
        nav {

            .checkbtn {
                display: none;
            }
            
            #check {
                display: none;
            }

            ul {
                position: relative;
                margin-right: 20px;
                left: auto;
                float: right;
                transition: none;
                width: auto;
                height: auto;
                background: none;
                top: auto;
    
                li {
                    display: inline-block;
                    line-height: 80px;
                    margin: 0 5px;
    
                    a {
                        padding: 7px 13px;
                        border-radius: 3px;
                        :hover, li a.activate {
                            background-color: red;
                            transition: .5s;
                        }
                    }
                }
            }

        }
    
    
    }
}